<div class="row mt-3" >
    <div class="col-sm-10 offset-1 " >
      <h5>GIỎ HÀNG( sản phẩm)</h5>
      <div style="background-color: #ffffff;">
         
          <!-- table start -->
          <table class="table">
            <thead>
              <tr>
                <td class="me-5"><div class="row"><div class="col-sm-4"><input type="checkbox"  class="me-2">Chọn tất cả ( sản phẩm)</div></div></td>
                <td >Số lượng </td>
                <td >Thành Tiền</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="spgh in giohang">
                <td >
                 <div class="row">
                  <div class="col-sm-2">
                    <div class="d-flex justify-content-center">
                      <input type="checkbox" ng-model="check[spgh.id]">
                      <img src="Image/{{spgh.imgbook}}" alt="" style="width: 119px; height: auto;">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div> <a href="#" style="text-decoration: none; color: #646464;">{{spgh.namebook}}</a ></div>
                      <div class="mt-4"><span class="fw-bold">{{spgh.price-((spgh.price*spgh.giamphantram)/100)|currency:'':00}}đ</span> <del>{{spgh.price|currency:'':00}}đ</del></div>
                  </div>
                 </div>
                </td>
                <td ><input type="number" class="form-control" ng-model="spgh.quantity" min="1" pattern="\d*"></td>
                <td><span class="me-5 fw-bold " style="color: red;">{{(spgh.price-((spgh.price*spgh.giamphantram)/100))*spgh.quantity |currency:'':00}}đ</span><button class="btn {{check[spgh.id]?'btn-danger':''}}"  ng-click="deletegiohang(spgh.id)"><i class="fa-regular fa-trash-can"></i></button></td>
              </tr>
             
            </tbody>
            <tfoot>
              <th colspan="1">Tổng tiền</th>
              <th class="text-center" style="color: red;">{{tongTien()|currency:'':00}}đ</th>
              <th class="btn btn-outline-danger btn-sm" ng-click="removeAllgiohang()">Xóa tất cả</th>
            </tfoot>
          </table>
          <!-- start end -->
      </div>
      </div>
    </div>