<div class="menu-cl">
  <div class="menu-cl-wd">
    <div class="menu-item-cli">
      <a class="nav-link" href="dt.html"><i class="fa fa-mobile-alt menu-icon-cl"></i>
        <span class="menu-text-cl"> điện thoại</span></a>
    </div>
    <div class="menu-item-cli">
      <a class="nav-link" href="dt.html">
        <i class="fa fa-laptop menu-icon-cl"></i
          ><span class="menu-text-cl"> laptop</span>
      </a>
      
    </div>
    <div class="menu-item-cli">
      <a class="nav-link" href="dt.html">
        <i class="fa fa-mobile-alt menu-icon-cl x-ngang"></i
      ><span class="menu-text-cl"> máy tính bảng</span>
      </a>

      
    </div>
    <div class="menu-item-cli">
      <a class="nav-link" href="dt.html"> <i class="fa fa-apple-alt menu-icon-cl"></i
      ><span class="menu-text-cl"> apple</span></a>
    </div>
    <div class="menu-item-cli">
      <a class="nav-link" href="dt.html">
        <i class="fa fa-desktop menu-icon-cl"></i
      ><span class="menu-text-cl"> pc - linh kiện</span>
      </a>

      
    </div>
    <div class="menu-item-cli">
      <a class="nav-link" href="data.html">
         <i class="fa fa-headphones-simple menu-icon-cl"></i
      ><span class="menu-text-cl"> phụ kiện</span>
      </a>
     
    </div>
    <div class="menu-item-cli">
      <a class="nav-link" href="dt.html">
          <i class="fa fa-rotate-right menu-icon-cl"></i
      ><span class="menu-text-cl"> máy cũ giá rẻ</span>
      </a>
    
    </div>
    <div class="menu-item-cli">
      <a class="nav-link" href="dt.html">
          <i class="fa fa-home-crack menu-icon-cl"></i
      ><span class="menu-text-cl"> điện máy gia dụng</span>
      </a>
    
    </div>
    <div class="menu-item-cli">
      <a class="nav-link" href="#!card">
        <i class="fa fa-sim-card menu-icon-cl"></i
            ><span class="menu-text-cl"> sim & thẻ</span>
    </a>
    </div>
    <div class="menu-item-cli">
      <i class="fa fa-certificate menu-icon-cl"></i
      ><span class="menu-text-cl"> khuyến mãi</span>
    </div>
  </div>
</div>
