<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap-5.2.3-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">

  </head>
  <div class="header-bonus">
    <div class="img-header-witdh">
      <img
        src="./assets/images/header-bonus-css.png"
        alt=""
        class="img-header-bonus"
      />
    </div>
  </div>

  
  <!-- end header bonus -->

  <!-- header -->

<body style="background-color: white;">

        
        

    <div class="nav" style="background-color: white;">
        <div class="container">
            <a href="#!home">Trang chu / </a>
            <a href="#">Thanh toan va tien ich</a>

        </div>
    </div>

    <div class="servic-banner" style="background-color: white;">
        <div class="container">
            <div class="row ">
                <div class="img1 col-sm-5">
                    <img class="duy" src="Image/banner-object (1).png" alt="">
                </div>
                <div class="content col-sm-6">
                    <h1>Thanh toan va tien ich</h1>
                    <p>Giúp quý khách hàng dễ dàng tra cứu & thanh toán một cách đơn giản và nhanh chóng.</p>
                </div>
            </div>
        </div>
    </div>
        
    <div class="bod" style="background-color: white;">
        <div class="container">
            <div class="row">
                <div class="card layout__item justify-content-center">
                    <div class="text1 d-flex " >
                        <i class="fa-regular fa-credit-card fa-3x " ></i> 
                        <div class="mt-3">
                            Thẻ cào điện thoại
                        </div>
                    </div>
                    
                </div>
                <div class="card layout__item justify-content-center">
                    <div class="text1 d-flex " >
                        <i class="fa-regular fa-credit-card fa-3x " ></i> 
                        <div class="mt-3">
                            Thẻ Data
                        </div>
                    </div>
                    
                </div>
                <div class="card layout__item justify-content-center">
                    <div class="text1 d-flex " >
                        <i class="fa-solid fa-gamepad fa-3x "></i> 
                        <div class="mt-3">
                            Thẻ game
                        </div>
                    </div>
                    
                </div>
                  
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="card layout__item justify-content-center">
                    <div class="text1 d-flex " >
                        <i class="fa-regular fa-credit-card fa-3x " ></i> 
                        <div class="mt-3">
                            Tien dien
                        </div>
                    </div>
                    
                </div>
                <div class="card layout__item justify-content-center">
                    <div class="text1 d-flex " >
                        <i class="fa-solid fa-gamepad fa-3x "></i> 
                        <div class="mt-3">
                            Tien nuoc
                        </div>
                    </div>
                    
                </div>
                <div class="card layout__item justify-content-center">
                    <div class="text1 d-flex " >
                        <i class="fa-regular fa-credit-card fa-3x " ></i> 
                        <div class="mt-3">
                            Internet
                        </div>
                    </div>
                    
                </div>
                  
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="card layout__item justify-content-center">
                    <div class="text1 d-flex " >
                        <i class="fa-regular fa-credit-card fa-3x " ></i> 
                        <div class="mt-3">
                            Truyen hinh cap
                        </div>
                    </div>
                    
                </div>
                <div class="card layout__item justify-content-center">
                    <div class="text1 d-flex " >
                        <i class="fa-regular fa-credit-card fa-3x " ></i> 
                        <div class="mt-3">
                            Dien thoai tra sau
                        </div>
                    </div>
                    
                </div>
                <div class="card layout__item justify-content-center">
                    <div class="text1 d-flex " >
                        <i class="fa-regular fa-credit-card fa-3x " ></i> 
                        <div class="mt-3">
                            Tra gop
                        </div>
                    </div>
                    
                </div>
                  
            </div>
        </div>
    </div>
    <div class="container">

        </div>
        

    <script>
        const carousel = new bootstrap.Carousel('#myCarousel')
    </script>
        <script src="bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/2a6e594392.js" crossorigin="anonymous"></script>
</body>
</html>